<header class="header">
    <div class="container">
        <img src="./img/new-logo.png" alt="logo" class="header__img">
        <h1 class="header__text">FIND BEST EVENTS AROUND THE WORLD</h1>
        <form class="header__form">
            <input type="text" class="form__search" placeholder="Start searching">
            <svg class="form__svgsearch">
                <use href="./img/search-icon.svg"></use>
            </svg>
            <div class="form__choose">
                <p class="choose__text">Choose country</p>
                <ul class="choose__list">
                    <li class="choose__item" data-country="">
                        <p class="choose__desc">All world</p>
                    </li>
                    <li class="choose__item" data-country="US">
                        <p class="choose__desc">United States</p>
                    </li>
                    <li class="choose__item" data-country="UK">
                        <p class="choose__desc">Great Britian</p>
                    </li>
                    <li class="choose__item" data-country="CA">
                        <p class="choose__desc">Canada</p>
                    </li>
                </ul>
            </div>
            <svg class="form__svgchoose">
                <use href="./img/polygon-choose.svg"></use>
            </svg>
        </form>
    </div>
</header>