<section class="hero">
    <ul class="hero__listcards">
        <!-- <li class="listcards__item">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/28/66/93/04/caption.jpg?w=800&h=800&s=1"
                alt="" class="listcards__image">
            <div class="listcards__group">
                <h2 class="listcards__title">Eurovision 2021 finals!</h2>
                <p class="listcards__time">2021-05-13</p>
                <div class="listcards__point">
                    <svg class="listcards__svg">
                        <use href="./img/pointplace.svg"></use>
                    </svg>
                    <p class="listcards__place">
                        Palace of Ukraine</p>
                </div>
            </div>
        </li> -->
    </ul>
    <div class="pagination">
        <button id="prev" class="pagination__button">Prev</button>
        <p id="page-info" class="pagination__text"></p>
        <button id="next" class="pagination__button">Next</button>
    </div>
</section>