<section class="hero">
    <div class="container">
        <div class="hero__box">
            <div class="lds-facebook">
                <div class="load__point"></div>
                <div class="load__point"></div>
                <div class="load__point"></div>
            </div>
        </div>
        <ul class="hero__listcards">
        </ul>
        <div class="pagination__container">
        </div>
    </div>
    <svg class="hide">
        <symbol id="left" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </symbol>
        <symbol id="right" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </symbol>
    </svg>
    </div>
</section>