<div class="backdrop is-hidden">
  <div class="modal">
    <button class="close-btn">
        
      <svg class="close-icon" width="20" height="20">
        <use href="../img/close.svg"></use>
      </svg>
    </button>

    <div class="modal-left">
      <img
        class="poster"
        src="../img/desktop/black@2xdesktop.jpg"
        alt="poster"
      />
    </div>

    <div class="modal-right">
      <img
        class="artist-avatar"
        src="../img/desktop/black@2xdesktop.jpg"
        alt="avatar"
      />

      <div class="info-block">
        <h2 class="title">INFO</h2>

        <p class="text">
         <span class="span">Atlas Weekend is the largest music festival in Ukraine. More than 200
          artists will create a proper music festival atmosphere on 10 stages</span>
        </p>
      </div>

      <div class="info-block">
        <h2 class="title">WHEN</h2>

        <p class="text1">2021-06-09</p>

        <p class="text">20:00 (Kyiv/Ukraine)</p>
      </div>

      <div class="info-block">
        <h2 class="title">WHERE</h2>

        <p class="text-info">Kyiv, Ukraine</p>

        <p class="text-info1">VDNH</p>
      </div>

      <div class="info-block">
        <h2 class="title">WHO</h2>

        <p class="text">The Black Eyed Peas</p>
      </div>

      <div class="info-block">
        <h2 class="title">PRICES</h2>

        <div class="price"> Standard 300-500 UAH</div>

        <button class="ticket-btn">BUY TICKETS</button>

        <div class="price">VIP 1000-1500 UAH</div>

        <button class="ticket-btn">BUY TICKETS</button>
      </div>

      <button class="author-btn">MORE FROM THIS AUTHOR</button>
    </div>
  </div>
</div>
